{% extends "base.html" %}

{% block content %}
<ul>
    <li><a href="/projetos" class="list-group-item list-group-item-action list-group-item-light">Gerenciar Projetos</a></li>
        {%if projetos%}        
            {%for p in projetos%}
            <div>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{p.nome}}</h5>
                        <p class="card-text">{{p.descricao}}</p>
                        <p class="card-text">
                            <small class="text-muted">
                                {{ p.data_criacao}} -
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        {%endfor%}
    {%else%}
        <p>Não há projetos cadastrados ainda...</p>
    {%endif%}

{% endblock %}