{% extends "base.html" %}

{% block content %}
<div>
<h1>Bem-Vindo</h1>
<h4>O Pro-Metas é um sistema para gerenciamento de projetos e metas</h4>
</div>
<br>
<ul class="list-group">
    <li class="list-group"><a href="/projetos" class="list-group-item list-group-item-action list-group-item-light"><h5 class="card-title">Gerenciar Projetos</h5></a></li>
    <br>
        {%if projetos%}        
            {%for p in projetos%}
            <div>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{p.nome}}</h5>
                        <p class="card-text">{{p.descricao}}</p>
                        <p class="card-text">
                        <p class="card-text">
                        <small>
                            Criado em - {{ p.data_criacao.strftime("%d/%m/%Y %H:%M") }}
                        </small>
                         </p>
                        <p class="card-text">
                        <small>
                        {% if p.data_edicao %}
                            Última edição - {{ p.data_edicao.strftime("%d/%m/%Y %H:%M") }}
                        {% else %}
                             Última edição - {{ p.data_criacao.strftime("%d/%m/%Y %H:%M") }}
                        {% endif %}
                        </small>
                        </p>
                    </div>
                </div>
            </div>
        {%endfor%}
    {%else%}
        <p>Não há projetos cadastrados ainda...</p>
    {%endif%}

{% endblock %}