{% extends "base.html" %}

{% block content %}
<h2>Projetos</h2>

<form method="POST" class="card p-3 mb-3">
    {{ form.hidden_tag() }}

    {{ form.nome.label }}
    {{ form.nome(class="form-control mb-2") }}

    {% for e in form.nome.errors %}
        <small class="text-danger">{{ e }}</small>
    {% endfor %}

    {{ form.descricao.label }}
    {{ form.descricao(class="form-control mb-2") }}

    {% for e in form.descricao.errors %}
        <small class="text-danger">{{ e }}</small>
    {% endfor %}

    <button class="btn btn-primary">Cadastrar</button>
</form>

<ul class="list-group">
    {%if projetos%}
        {%for p in projetos%}
        <div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{p.nome}}</h5>
                    <p class="card-text">{{p.descricao}}</p>
                    <small>
                    <p class="card-text">
                        Criado em - {{ p.data_criacao.strftime("%d/%m/%Y %H:%M") }}
                    </small>
                    </p>
                    <p class="card-text">
                    <small>
                    {% if p.data_edicao %}
                    Última edição - {{ p.data_edicao.strftime("%d/%m/%Y %H:%M") }}
                    {% else %}
                            Última edição - {{ p.data_criacao.strftime("%d/%m/%Y %H:%M") }}
                    {% endif %}
                    </small>
                    </p>
                    <a href="/projetos/{{p.id}}/metas">Ver Metas</a>
                    <a href="/projetos/editar/{{p.id}}">Editar</a>
                    <a href="/projetos/excluir/{{p.id}}">Excluir</a>
                </div>
            </div>
        </div>
        {%endfor%}
    {%else%}
        <p>Não há projetos cadastrados ainda...</p>
    {%endif%}
</ul>
{% endblock %}